/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navContainer .navItemsContainer .hamburger {
  display: flex;
}
