/** @format */
:root {
  --primary-font: "Kumbh Sans", sans-serif;
  --grayish-blue: hsl(220, 14%, 75%);
  --black: hsl(0, 0%, 0%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --pale-orange-color: hsl(25, 100%, 94%);
  --orange-color: hsl(26, 100%, 55%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --light-grayish-blue: hsl(223, 64%, 98%);
}
.cartContainer {
  display: flex;
  flex-direction: column;
  margin: 10px;
  position: absolute;
  border: transparent solid 1px;
  border-radius: 20px;
  background-color: white;
  padding: 0 10px;
}

.cartContainer main {
  display: flex;
}

.cartContainer main img {
  width: 35%;
  height: 55%;
  border-radius: 5px;
}

.productDetails div span {
  font-size: small;
  color: var(--dark-grayish-blue);
}
