/** @format */
:root {
  --primary-font: "Kumbh Sans", sans-serif;
  --grayish-blue: hsl(220, 14%, 75%);
  --black: hsl(0, 0%, 0%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --pale-orange-color: hsl(25, 100%, 94%);
  --orange-color: hsl(26, 100%, 55%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --light-grayish-blue: hsl(223, 64%, 98%);
}
.cartContainer {
  display: flex;
  flex-direction: column;
  margin: 10px;
  position: absolute;
  border: transparent solid 1px;
  border-radius: 20px;
  background-color: white;
  padding: 0 10px;
}

.cartContainer main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header {
  padding: 20px 0 20px 0;
  border-bottom: 1px solid var(--grayish-blue);
}

header span {
  font-weight: 900;
  font-size: 14px;
}

main .img {
  display: flex;
  box-sizing: border-box;
}

.cartContainer main img {
  width: 20%;
  border-radius: 5px;
}

.productDetails {
  display: inline-block;
  margin: 40px 0;
}

.productDetails div span {
  font-size: small;
  color: var(--dark-grayish-blue);
}

.cartContainer .checkout {
  margin: 20px 0;
}
.cartContainer .checkout button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: var(--orange-color);
  color: white;
  font-weight: 600;
}

main .cartIcon {
  color: var(--dark-grayish-blue);
}

.productDetails .price {
  display: flex;
  justify-self: center;
}

.productDetails .price span {
  margin: 0 4px;
}

.productDetails .price span.totalPrice {
  font-weight: bolder;
  color: var(--very-dark-blue);
}

.mainContainer .counter {
  display: flex;
  justify-content: space-around;
  align-items: start;

  border: transparent 1px solid;
  border-radius: 10px;
}

.mainContainer .counter button {
  margin: 0;
  padding: 5px;
  width: 20%;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: var(--orange-color);
}

.mainContainer .counter span {
  font-weight: 800;
}

.cartContainer .emptyCart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 78px;
}

.cartContainer .emptyCart p {
  font-size: 14px;
  font-weight: 600;
  color: var(--dark-grayish-blue);
}
